<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiraporn.nut.happyhealthy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name="com.jiraporn.nut.happyhealthy.SplashScreen"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jiraporn.nut.happyhealthy.IntroHealthy" />
        <activity android:name="com.jiraporn.nut.happyhealthy.User" />
        <activity android:name="com.jiraporn.nut.happyhealthy.DisplayUser" />
        <activity android:name="com.jiraporn.nut.happyhealthy.Diabetes" />
        <activity android:name="com.jiraporn.nut.happyhealthy.Kidney" />
        <activity android:name="com.jiraporn.nut.happyhealthy.Pressure" />
        <activity android:name="com.jiraporn.nut.happyhealthy.DataUser" />
        <activity android:name="com.jiraporn.nut.happyhealthy.DisplayDisease" />
        <activity android:name="com.jiraporn.nut.happyhealthy.DisplayPressure" />
        <activity android:name="com.jiraporn.nut.happyhealthy.DisplayKidney" />
        <activity android:name="com.jiraporn.nut.happyhealthy.Report" />
        <activity android:name="com.jiraporn.nut.happyhealthy.ExerciseType" />
        <activity android:name="com.jiraporn.nut.happyhealthy.MainActivity" />
        <activity android:name="com.jiraporn.nut.happyhealthy.History_Diabetes" />
        <activity android:name="com.jiraporn.nut.happyhealthy.History_Kidney" />
        <activity android:name="com.jiraporn.nut.happyhealthy.History_Pressure" />
        <activity android:name="com.jiraporn.nut.happyhealthy.Food_Type_1" />
        <activity android:name="com.jiraporn.nut.happyhealthy.FoodDetail" />
        <activity android:name="com.jiraporn.nut.happyhealthy.Exercise_Detail" />
        <activity
            android:name="com.jiraporn.nut.happyhealthy.Home"
            android:label="@string/app_name" />
        <activity android:name="com.jiraporn.nut.happyhealthy.History_Food" />
        <activity android:name="com.jiraporn.nut.happyhealthy.History_Exe"></activity>
    </application>

</manifest>