<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nut.happyhealthy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Food" />
        <activity android:name=".Exercise" />
        <activity android:name=".IntroHealthy" />
        <activity android:name=".User" />
        <activity android:name=".DisplayUser" />
        <activity android:name=".Diabetes" />
        <activity android:name=".Kidney" />
        <activity android:name=".Pressure" />
        <activity android:name=".DataUser" />
        <activity android:name=".DisplayDisease" />
        <activity android:name=".DisplayPressure" />
        <activity android:name=".DisplayKidney" />
        <activity android:name=".Report" />
        <activity android:name=".ExerciseType" />
        <activity android:name=".MainActivity" />
        <activity android:name=".History_Diabetes" />
        <activity android:name=".History_Kidney" />
        <activity android:name=".History_Pressure" />
        <activity android:name=".Food_Type_1" />
        <activity android:name=".FoodDetail" />
        <activity android:name=".Exercise_Detail" />
        <activity
            android:name=".Home"
            android:label="@string/app_name" />
    </application>

</manifest>